%clr {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}
%wavy-border {
  position: absolute;
  height: 6px;
  left: 0;
  right: 0;
  background: url('../images/wavy-border.png') repeat-x;
  background-size: auto 100%;
  content: "";
}
%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-between {
  @extend %flex-between;
  &::before,
  &::after {
    display: none;
  }
}
