// == Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);
$color: (
  primary: #53c2c2,
  secondary: #554E8F,
  border: #e2e2e2,
  text: #82A0B7,
  background: #F9FCFF,
  white: #ffffff,
  black: #000000,
  yellow: #FFD506,
  green-light: #49b4af,
  danger: #dd4b39,
  white-c: #fbfbfb,
  white-e: #eeeeee,
  rgba-black: rgba(0, 0, 0, 0.07),
  rgba-black-a: rgba(0, 0, 0, 0.13),
  alert-success-bg: #51a351,
  alert-success-border: darken(adjust-hue(#51a351, -10), 5%),
  alert-info-bg: #2f96b4,
  alert-info-border: darken(adjust-hue(#2f96b4, -10), 7%),
  alert-warning-bg: #f89406,
  alert-warning-border: darken(adjust-hue(#f89406, -10), 5%),
  alert-danger-bg:#bd362f,
  alert-danger-border: darken(adjust-hue(#bd362f, -10), 5%),
);


$font-size: (
  xs: 10px,
  sm: 12px,
  normal: 14px,
  md: 20px,
  lg: 24px,
);
$font-family: (
  body: "montserrat, sans-serif",
);
$font-family-default: "M PLUS Rounded 1c", system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-icon: (
  icon-add: "\e900",
  icon-all: "\e901",
  icon-planning: "\e902",
  icon-completed: "\e903",
  icon-remove: "\e904",
  icon-list: "\e905",
  icon-alls: "\e906",
  icon-close: "\e907",
  icon-trash: "\e908",
)
